<!-- page listing macros -->
{% macro page_info(page) %}
<div class="article-info">
    {% if page.date %}
    {% set reading_time = "◦ " ~ page.reading_time ~ " minutes" %}
    <div class="article-detail">
        <svg width="16" height="16" viewbox="0 0 1792 1792" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M128 1664h288v-288H128v288zm352 0h320v-288H480v288zm-352-352h288V992H128v320zm352 0h320V992H480v320zM128 928h288V640H128v288zm736 736h320v-288H864v288zM480 928h320V640H480v288zm768 736h288v-288h-288v288zm-384-352h320V992H864v320zM512 448V160c0-17-15-32-32-32h-64c-17 0-32 15-32 32v288c0 17 15 32 32 32h64c17 0 32-15 32-32zm736 864h288V992h-288v320zM864 928h320V640H864v288zm384 0h288V640h-288v288zm32-480V160c0-17-15-32-32-32h-64c-17 0-32 15-32 32v288c0 17 15 32 32 32h64c17 0 32-15 32-32zm384-64v1280c0 70-58 128-128 128H128c-70 0-128-58-128-128V384c0-70 58-128 128-128h128v-96C256 72 328 0 416 0h64c88 0 160 72 160 160v96h384v-96c0-88 72-160 160-160h64c88 0 160 72 160 160v96h128c70 0 128 58 128 128z"/>
        </svg>
        
        {{ page.date | date(format=config.extra.papaya_date_format) }}
    </div>
    {% endif %}
    {% if page.extra.link %}
    <div class="article-detail">
        <svg width="16" height="16" viewbox="0 0 1792 1792" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M1456 1216c0-26-10-50-28-68l-208-208c-18-18-43-28-68-28-29 0-52 11-72 32 33 33 72 61 72 112 0 53-43 96-96 96-51 0-79-39-112-72-21 20-33 43-33 73 0 25 10 50 28 68l206 207c18 18 43 27 68 27s50-9 68-26l147-146c18-18 28-42 28-67zM753 511c0-25-10-50-28-68L519 236c-18-18-43-28-68-28s-50 10-68 27L236 381c-18 18-28 42-28 67 0 26 10 50 28 68l208 208c18 18 43 27 68 27 29 0 52-10 72-31-33-33-72-61-72-112 0-53 43-96 96-96 51 0 79 39 112 72 21-20 33-43 33-73zm895 705c0 76-31 150-85 203l-147 146c-54 54-127 83-203 83-77 0-150-30-204-85l-206-207c-54-54-83-127-83-203 0-79 32-154 88-209l-88-88c-55 56-129 88-208 88-76 0-150-30-204-84L100 652c-55-55-84-127-84-204 0-76 31-150 85-203L248 99c54-54 127-83 203-83 77 0 150 30 204 85l206 207c54 54 83 127 83 203 0 79-32 154-88 209l88 88c55-56 129-88 208-88 76 0 150 30 204 84l208 208c55 55 84 127 84 204z"/>
        </svg>
        <a href="{{page.extra.link | safe}}" target="_blank">{{ page.extra.link }}</a>
    </div>
    {% endif %}
    <div class="article-taxonomies">
        {% if page.taxonomies.category %}
        <ul class="article-category">
            {% for cat in page.taxonomies.category %}
            <li><a href="{{ get_taxonomy_url(kind="category", name=cat, lang=lang) | safe }}">{{ cat }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if page.taxonomies.tags %}
        <ul class="article-tags">
            {% for tag in page.taxonomies.tags %}
            <li><a href="{{ get_taxonomy_url(kind=" tags", name=tag, lang=lang) | safe }}">#{{ tag }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endmacro page_info %}

{% macro page_listing(page) %}
<article class="post-list">
    <a href="{{ page.permalink }}">
        <header>
            <h3>
                {{ page.title }}
            </h3>
        </header>
    </a>

    {% if page.summary %}
    <div class="content post-summary">
        {{ page.summary | markdown | safe }}
    </div>
    {% endif %}

    {{ self::page_info(page=page) }}
</article>
{% endmacro page_listing %}

{% macro page_pagination(paginator) %}
<div class="pagination">
    <div class="left pagination-item {% if not paginator.previous %}disabled{% endif %}">
        {% if paginator.previous %}
        <a href="{{ paginator.previous }}">{{ trans(key="prev_page", lang=lang) }}</a>
        {% endif %}
    </div>
    <div class="right pagination-item {% if not paginator.next %}disabled{% endif %}">
        {% if paginator.next %}
        <a href="{{ paginator.next }}">{{ trans(key="next_page", lang=lang) }}</a>
        {% endif %}
    </div>
</div>
{% endmacro page_pagination %}

<!-- project listing macros -->
{% macro project_listing(page) %}
<article class="post-list">
    {# {% if page.extra.featured_image %}
    <a href="{{ page.permalink }}"><img src="{{ page.permalink }}/{{ page.extra.featured_image }}"
            alt="{% if page.extra.featured_image_alt %}{{ page.extra.featured_image_alt }}{% else %}{{ page.title }}{% endif %}" /></a>
    {% endif %}
    #}
    <a href="{{ page.permalink }}">
        <header>
            <h3>
                {{ page.title }}
            </h3>
        </header>
    </a>

    {% if page.summary %}
    <div class="content post-summary">
        {{ page.summary | markdown | safe }}
    </div>
    {% endif %}

    {{ self::project_info(page=page) }}
</article>
{% endmacro page_listing %}

{% macro project_info(page) %}
<div class="article-info">
    {% if page.date %}
    <div class="article-date">{{ page.date | date(format=trans(key="date_format", lang=lang)) }}</div>
    {% endif %}
    <div class="article-taxonomies">
        {% if page.taxonomies.categories %}
        ◦
        <ul class="article-categories">
            {% for cat in page.taxonomies.categories %}
            <li><a href="{{ get_taxonomy_url(kind=" categories", name=cat, lang=lang) | safe }}">{{ cat }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if page.taxonomies.tags %}
        <ul class="article-tags">
            {% for tag in page.taxonomies.tags %}
            <li><a href="{{ get_taxonomy_url(kind=" tags", name=tag, lang=lang) | safe }}">#{{ tag }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endmacro project_info %}
