{% extends "_index.html" %}

{% block description %}
<p>
    Hi, you've reached the homepage for my personal website. I am a third year computer science student
    at <abbr title="École Pour l'Informatique et les Techniques Avancées">EPITA</abbr> in Paris.
    Here, you'll find my posts about diverse topics I'm interested about in technology, design and free software.
</p>
<p>
    Feel free to reach out to me via my personal email linked below for any inquiries.
</p>
{% endblock description %}
